<div class="row" id="main_row_ct">
   <div class="small-12 columns">
      <div class="profile-card">
         <div class="row" id="user_header_row">
            <div class="small-12 columns profile-image">
               <%= image_tag("#{current_user.image}",:class => "user-img right") %>
               <div class="right" id="name_and_link">
                  <h4 id="user_page_name"><%= current_user.name.capitalize %> </h4>
                  <p class="right" id="user_sign_out_link"><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
               </div>
               <%= image_tag('small_logo.png',:class => "small-3 columns left", :id => "logo_on_user_page") %>
            </div>
         </div>


      <% if @spot %>
      <div class="row" id="chart-row">
         <div id="move_by">
         </div>
         <div id='last_spot_info'>
         </div>
      </div>
      <% end %>
      <div class="full-width navigation-area">
      <div class="row" id="user_footer_row">
         <div class="fixed-bottom">
            <nav class="top-bar bottom-bar" id="bottom_nav">
               <button>Already Moved</button>
               <%if @spot.remind?%>
               <form action= "/user/spot/<%=@spot.id%>/update" method="POST">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="hidden" name="@spot.remind?" value="false">
                  <input type="submit" value="No reminder">
               </form>
               <%else%>
               <form action= "/user/spot/<%=@spot.id%>/update" method="POST">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="hidden" name="@spot.remind?" value="true">
                  <input class = "button" type="submit" value="Add reminder" data-reveal-id="remindMeModal" id='reminderModal'>
               </form>
               <%end%>
            </nav>
         </div>
      </div>
      </div>
   </div>
</div>
</div>

      <div id="remindMeModal" class="reveal-modal" data-reveal>
        <h2>Okay no Problem!</h2>

        <form action= "/user/spot/<%=@spot.id%>/update" method="POST">
          Telephone: <input type="tel" name="phone_number">
          <div id="phone-form-update">
            <input type="radio" name="side-of-street" value='sideOne'> SideOne
            <input type="radio" name="side-of-street" value='sideTwo'> SideTwo
          </div>
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="@spot.remind?" value="true">
          <input type="submit">
        </form>

        <p>We'll send you a text an hour before you should move.</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>
